<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일기장</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <style>
    </style> -->
</head>
<body>
    <!-- 네비게이션 바 추가 -->
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <div class="image-container">
            <img src="/hello.jpg" alt="이미지 설명">
        </div>        
        <h1>네비에서 선택하세요</h1>
        <!-- 각 페이지의 본문 내용 -->
    </div>
    
</body>
<!-- <%- include('partials/footer.ejs') %> -->
</html>
